body{
    background-color: white;
    width: 100%;

}

.barra-navegacao {
    background-color: #32d5c8;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.bunner-inicial{
    padding: 90px 10px 20px 10px ;
   
}
.bunner-img{
    width: 100%;
    height: 450px;
           
  }

h2{
    color: #32d5c8;
  }