body{
    background-color: white;
    width: 100%;

}

.barra-navegacao {
    background-color: #32d5c8;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.bunner-inicial{
    padding: 90px 10px 20px 10px ;
   
}
.bunner-img{
    width: 100%;
    height: 500px;
    padding: 0px 0px 0px 0px;
           
  }

h2{
    color: #32d5c8;
  }

.carrosel-estilo{
    width: 100%;
    height: 100%;
    padding: 70px 20px 0px 20px;
    
}

.propaganda_lateral{
    height: 100%;
    width: 600px;    
    padding: 20px 20px 20px 0px;

}

.bg-secundary{
    background-color: #32d5c8;

}

